:root{
    --background-color: #181616;
    --text-color: #CCCCCC;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}


/* Nav-bar starts from here */
#nav-bar{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222222;
    color: #CCCCCC;
    /* position: fixed; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#nav-bar #nav-logo{
    text-align: center;
    font-size: 1.3rem;
}

#nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: #ffffff;
}

#nav-link a{
    text-decoration: none;
    color: #fff;
}

#nav-bar #nav-link a:hover{
    color: #FF8911;
}

#nav-bar #download-cv-btn{
    padding: 0.654rem 1rem;
    border-radius: 0.434rem;
    /* font-weight: bold; */
    font-size: 1rem;
    cursor: pointer;
    color: #ccc;
    background-color: #222222;
}

#nav-bar #download-cv-btn:hover{
    color: #ccc;
    background-color: #fb8500;
}


/* Nav-bar ends here */









/* Personal details starts here */

#personal-details{
    max-width: 90%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-color);
    color: #CCCCCC;
}

#personal-details .intro{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#personal-details .intro .intro-text{
    width: 100%;
    font-size: 3rem;
    font-weight: 400;
}

#personal-details .intro .about-me{
    margin-top: 1.2rem;
    font-size: 1.3rem;
}

#personal-details .intro .about-me-btn{
    margin-top: 2rem;
    width: 8rem;
    align-self: flex-start;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 0.547rem;
    padding: 0.478rem 1.2rem;
    cursor: pointer;
    color: #131212;
    background-color: #fb8500;
}

#personal-details .profile{
    width: 35%;
    height: auto;
}

#personal-details .profile img{
    width: 19rem;
    height: 28rem;
    object-fit: contain;
    border-radius: 129rem 45rem 
}


/* Personal details ends here */



/* About section starts here */


#about-section{
    max-width: 90%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    color: #CCCCCC;
    background-color: var(--background-color);
}

#about-section .about{
    width: 50%;
    font-size: 1.5rem;
    padding-right: 4rem;
    line-height: 2rem;
}

#about-section .about .about-title{
    font-size: 3rem;
}

#about-section .about .about-me{
    margin-top: 2rem;
    font-size: 1.5rem;
}



/* About section ends here */







/* Service section starts here */


#services-section{
    max-width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    color: aliceblue;
    background-color: var(--background-color);
}

#services-section .service-item{
    border: 1px solid #CCCCCC;
    border-radius: 1rem;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

/* #services-section .service-item:hover{

} */

#services-section .service-item 
.service-icon{
    margin-top: 2rem;
    /* margin-bottom: 1rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services-section .service-item 
.service-icon img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #CCCCCC;
}

#services-section .service-item
.service-title{
    font-size: 1.7rem;
    text-align: center;
    padding: 2rem;
}

#services-section .service-item
.service-description{
    text-align: center;
    font-size: 1.4rem;
    padding: 0 2rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}


/* Service section ends here */



/* Skills section starts from here */

#skill-section {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}

#skill-section .skill-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 8rem;
}

#skill-section .skill-container {
    width: 70%;
    /* max-width: 90%; */
    margin-bottom: 1.5rem;
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 1fr);
}

/* #skill-section .skill {

} */

#skill-section .skill .skill-text {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.287rem;

}

#skill-section .skill-name {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
}

#skill-section .skill-percent {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
}

progress{
    width: 70%;
}



/* Skills section end here */




/* Personal Project section starts here */


#personal-project{
    max-width: 90%;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

#personal-project .project-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 8rem;
}









/* Personal project section ends here */



/* contact me section starts here */

#contact-me{
    max-width: 90%;
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

#contact-me .contact-me-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #f0cd06f3;
}

#contact-me form{
    margin-top: 2.3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4rem;
}

#contact-me form .left-input{
    width: 50%;
}

#contact-me form label{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

label::after{
    content: "*";
    color: #e20808;
}

#contact-me form input{
    width: 100%;
    border: 0.458px solid;
    padding: 0.863rem;
    border-radius: 0.438rem;
    margin: 0.585rem 0;
    background-color: #181616;
    color: #edf6f9;
}

input:focus{
    /* outline: none; */
    border: 0.458px solid #f0cd06f3;

    box-shadow: 0 0 0 0.458px ;
}

#contact-me form .right-input{
    width: 50%;
    display: flex;
}

#contact-me form textarea{
    margin-top: 1.256rem;
    border: 0.458px solid;
    padding: 0.863rem;
    border-radius: 0.438rem;
    color: #edf6f9;
    background-color: #181616;
}

#contact-me button{
    /* width: 10%; */
    font-weight: 400;
    border: 0.558px solid;
    padding: 0.485rem 1rem;
    border-radius: 0.572rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    cursor: pointer;
}

/* contact me section end here */







/* Footer section starts from here */

#footer-section{
    max-width: 90%;
    /* height: 25vh; */
    background-color: var(--background-color);
}

#footer-section .footer-title{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

#footer-section .social-link{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}


#footer-section .social-link
.linkedin, .github, .twitter, .email{
    width: 3.454rem;
    height: 3.454rem;
    border: 0.1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131212;
}

#footer-section .social-link
.fa-brands, .fa-solid{
    color: white;
}

#footer-section .copy-right-text{
    text-align: center;
    font-size: 1.3rem;
    color: var(--text-color);
    margin-bottom: 1.3rem;
}

/* Footer section ends here */